.body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background-color: #f1f5f8;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 30px;
  padding: 25px;
  position: fixed;
  right: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.fab:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  padding: 1rem 1.5rem;
  height: 100%;
  overflow-y: auto;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not-border {
  border: 0px;
  background-color: transparent;
}

.page {
  bottom: 25px;
  position: fixed;
  left: 50%;
}
